In [1]:
from sqlalchemy import create_engine
import numpy as np
import pandas as pd

In [ ]:
engine = create_engine("mysql+pymysql://root:pass@localhost:8703/imdb", echo_pool=True)

In [ ]:
df: pd.DataFrame = pd.read_sql_query(
    f"""
    SELECT person_id, title_id, category AS job_category
    FROM jobs
    LIMIT 10
    """,
    engine
    )

print(df.info())